<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Update Room Category</title>
</head>

<body>
	<nav>
		<a th:href="@{/home}">Spring Hotel</a>
		<div>
			<ul>
				<li>
					<a th:href="@{/room-type/room-type-add}">Add Room Category</a>
				</li>
				<li>
					<a th:href="@{/room-type/room-type-search}">Search Room Category</a>
				</li>
				<li>
					<a th:href="@{/room-type/room-type-delete}">Delete Room Category</a>
				</li>
			</ul>
		</div>
	</nav>
	<div th:if="${STATUS_MESSAGE}">
		<h3>
			<strong>Status</strong>
		</h3>
		<h4 th:text=${STATUS_MESSAGE}></h4>
	</div>
	<form th:object="${roomCategoryEntity}" th:action="@{/room-type/room-type-update}" method="post">
		<div>
			<div>
				<label>Id</label>
				<input th:field="*{roomCategoryId}" readonly="readonly" maxlength="5" type="text" placeholder="ID">
			</div>
		</div>
		<div>
			<div>
				<label>Category</label>
				<input th:field="*{category}" maxlength="25" type="text" placeholder="Category">
			</div>
		</div>
		<div>
			<div>
				<label>Price</label>
				<input th:field="*{price}" maxlength="5" type="text" placeholder="ex.: 45.55">
			</div>
		</div>
		<div>
			<div>
				<label>Number of People Allowed</label>
				<input th:field="*{maxPeople}" maxlength="1" type="text" placeholder="ex.: 3">
			</div>
		</div>
		<div>
			<button type="submit">Save</button>
		</div>
	</form>
</body>

</html>