<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Search Room Category</title>
	<link rel="stylesheet" href="../resources/css/table.css" />
</head>

<body>
	<nav>
		<a th:href="@{/home}">Spring Hotel</a>
		<div>
			<ul>
				<li>
					<a th:href="@{/room-type/room-type-add}">Add Room Category</a>
				</li>
			</ul>
		</div>
	</nav>
	<div th:if="${STATUS_MESSAGE}">
		<h3>
			<strong>Status</strong>
		</h3>
		<h4 th:text=${STATUS_MESSAGE}></h4>
	</div>
	<div>
		<h3>Room Categories</h3>
		<table th:unless="${#lists.isEmpty(roomCategoryList)}">
			<thead>
				<tr>
					<th>Id</th>
					<th>Category</th>
					<th>Price</th>
					<th>Max. People</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="b : ${roomCategoryList}">
					<td th:text="${b.roomCategoryId}"/>
					<td th:text="${b.category}"/>
					<td th:text="${b.price}"/>
					<td th:text="${b.maxPeople}"/>
					<td>
						<a th:href="@{/room-type/room-type-update/{id} (id=${b.roomCategoryId})}">
							Edit
						</a>
					</td>
					<td>
						<a th:href="@{/room-type/room-type-delete/{id} (id=${b.roomCategoryId})}">
							Delete
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>