<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>User Add</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="../resources/jquery/zipcode_api.js"></script>
</head>

<body>
	<nav>
		<a th:href="@{/home}">Spring Hotel</a>
		<div>
			<ul>
				<li>
					<a th:href="@{/user/user-search}">Search User</a>
				</li>
			</ul>
		</div>
	</nav>
	<div th:if="${STATUS_MESSAGE}">
		<h3>
			<strong>Status</strong>
		</h3>
		<h4 th:text=${STATUS_MESSAGE}></h4>
	</div>
	<form th:action="@{/user/user-add}" method="post" th:object="${userEntity}">
		<div>
			<div>
				<label>CPF</label>
				<input th:field="*{userCpf}" maxlength="11" type="text" placeholder="CPF">
			</div>
		</div>
		<div>
			<div>
				<label>Name</label>
				<input th:field="*{username}" maxlength="35" type="text" placeholder="Name">
			</div>
		</div>
		<div>
			<label>Role</label>
			<select th:field="*{userRole}" name="role" id="txtRole">
				<option th:each="c : ${rolesList}" th:value="${c}" th:text="${c}" />
			</select>
		</div>
		<div>
			<div>
				<label>Zip</label>
				<input th:field="*{addressEntity.zipCode}" maxlength="8" type="text" placeholder="ex.: 01001000"
					id="txtZip">
			</div>
		</div>
		<div>
			<div>
				<label>Federal Unit</label> <input th:field="*{addressEntity.federalUnit}" type="text"
					id="txtFederalUnit" placeholder="ex.: KS" readonly="readonly">
			</div>
		</div>
		<div>
			<div>
				<label>Street</label>
				<input th:field="*{addressEntity.street}" type="text" id="txtStreet" placeholder="ex.: Walnut St"
					readonly="readonly">
			</div>
		</div>
		<div>
			<div>
				<label>District</label>
				<input th:field="*{addressEntity.district}" type="text" id="txtDistrict" placeholder="ex.: Union Hill"
					readonly="readonly">
			</div>
		</div>
		<div>
			<div>
				<label>City</label> <input th:field="*{addressEntity.city}" type="text" id="txtCity"
					placeholder="ex.: Kansas City" readonly="readonly">
			</div>
		</div>
		<div>
			<div>
				<label>House Number</label>
				<input th:field="*{houseNumber}" type="text" placeholder="ex.: 443">
			</div>
			<div>
				<label>Telephone</label>
				<input th:field="*{telephoneNumber}" type="tel" maxlength="15" value="11 5555 5555">
			</div>
			<div>
				<label>Celphone</label>
				<input th:field="*{celphoneNumber}" type="tel" maxlength="15" value="11 5555 5555">
			</div>
			<div>
				<label>Birthday</label>
				<input th:field="*{dateOfBirth}" type="date" value="1990-01-01">
			</div>
		</div>
		<div>
			<div>
				<label>Email</label>
				<input th:field="*{email}" maxlength="35" type="email" placeholder="Email">
			</div>
			<div>
				<label>Password</label>
				<input th:field="*{password}" maxlength="35" type="password" placeholder="Password">
			</div>
		</div>
		<div>
			<button type="submit">Register</button>
		</div>
	</form>
</body>

</html>