<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>User Search</title>
	<link rel="stylesheet" href="../resources/css/table.css" />
</head>

<body>
	<nav>
		<a th:href="@{/home}">Spring Hotel</a>
		<div>
			<ul>
				<li>
					<a th:href="@{/user/user-add}">New User</a>
				</li>
			</ul>
		</div>
	</nav>
	<div th:if="${STATUS_MESSAGE}">
		<h3>
			<strong>Status</strong>
		</h3>
		<h4 th:text=${STATUS_MESSAGE}></h4>
	</div>
	<form th:action="@{/user/user-search}" method="post">
		<div>
			<label>CPF</label>
			<input maxlength="11" type="text" name="userCpf" placeholder="CPF">
			<button type="submit">Search</button>
		</div>
	</form>
	<div th:if="${userEntity}">
		<h3>User</h3>
		<table>
			<thead>
				<tr>
					<th>CPF</th>
					<th>Name</th>
					<th>Zip</th>
					<th>House Number</th>
					<th>Telephone</th>
					<th>Celphone</th>
					<th>Birthday</th>
					<th>Email</th>
					<th>Role</th>
				</tr>
			</thead>
			<tbody>
				<tr th:object="${userEntity}">
					<td th:text="*{userCpf}" />
					<td th:text="*{username}" />
					<td th:text="*{addressEntity.zipCode}" />
					<td th:text="*{houseNumber}" />
					<td th:text="*{telephoneNumber}" />
					<td th:text="*{celphoneNumber}" />
					<td th:text="*{dateOfBirth}" />
					<td th:text="*{email}" />
					<td th:text="*{userRole}" />
					<td>
						<a th:href="@{/user/user-update/{id} (id=*{userCpf})}">Edit</a>
					</td>
					<td>
						<a th:href="@{/user/user-delete/{id} (id=*{userCpf})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h3>All Users</h3>
		<table th:unless="${#lists.isEmpty(userEntityList)}">
			<thead>
				<tr>
					<th>CPF</th>
					<th>Name</th>
					<th>Zip</th>
					<th>House Number</th>
					<th>Telephone</th>
					<th>Celphone</th>
					<th>Birthday</th>
					<th>Email</th>
					<th>Role</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="b : ${userEntityList}">
					<td th:text="${b.userCpf}"/>
					<td th:text="${b.username}"/>
					<td th:text="${b.addressEntity.zipCode}"/>
					<td th:text="${b.houseNumber}"/>
					<td th:text="${b.telephoneNumber}"/>
					<td th:text="${b.celphoneNumber}"/>
					<td th:text="${b.dateOfBirth}"/>
					<td th:text="${b.email}"/>
					<td th:text="${b.userRole}"/>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>