<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Home</title>
	<link rel="stylesheet" href="resources/css/table.css" />
</head>

<body>
	<nav>
		<a th:href="@{/home}">Spring Hotel</a>
		<div>
			<ul>
				<li><a th:href="@{/booking/booking-add}">Bookings</a></li>
			</ul>
			<ul th:if="${IS_ADMIN}">
				<li><a th:href="@{/user/user-add}">Users</a></li>
				<li><a th:href="@{/room/room-add}">Rooms</a></li>
				<li><a th:href="@{/room-type/room-type-add}">Room Category</a></li>
			</ul>
			<ul>
				<li><a th:href="@{/profile}">Profile</a></li>
				<li><a th:href="@{/logout}">Logout</a></li>
			</ul>
		</div>
	</nav>
	<div th:if="${STATUS_MESSAGE}">
		<strong th:text="${STATUS_MESSAGE}"></strong>
	</div>
	<div th:if="${!IS_ADMIN}">
		<nav th:object="${user}">
			<label>Name</label> <label th:text="*{username}"></label> <label>CPF:</label><label
				th:text="*{userCpf}"></label>
		</nav>
		<h3>All Bookings</h3>
		<table th:unless="${#lists.isEmpty(userBookings)}">
			<thead>
				<tr>
					<th>CPF</th>
					<th>Name</th>
					<th>Room Number</th>
					<th>Check In</th>
					<th>Check Out</th>
					<th>Days Past</th>
					<th>Status</th>
					<th>Total:</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="b : ${userBookings}">
					<td th:text="${b.userEntity.userCpf}" />
					<td th:text="${b.userEntity.username}" />
					<td th:text="${b.roomEntity.roomNumber}" />
					<td th:text="${b.checkIn}" />
					<td th:text="${b.checkOut}" />
					<td th:text="${b.daysPast}" />
					<td th:text="${b.status}" />
					<td th:text="${b.finalAmout}" />
					<td th:switch="${b.status}"><span th:case="'I'">Fechada</span>
						<span th:case="'A'">Aberta</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>