<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Home</title>
</head>
<body>
	<nav>
		<a href="home">Spring Hotel</a>
		<div>
			<ul>
				<li >
					<a href="booking">Bookings</a>
				</li>
				<li>
					<a href="user">Users</a>
				</li>
				<li>
					<a href="employee">Employees</a>
				</li>
			</ul>
			<ul >
				<li>
					<a href="profile">Profile</a>
				</li>
				<li>
					<a href="logout">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
</body>
</html>