<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Home</title>
</head>

<body>
	<nav>
		<a th:href="@{/home}">Spring Hotel</a>
		<div>
			<ul>
				<div th:if="${IS_ADMIN}">
					<li>
						<a th:href="@{/user/user-add}">Users</a>
					</li>
					<li>
						<a th:href="@{/booking/booking-add}">Bookings</a>
					</li>
					<li>
						<a th:href="@{/room/room-add}">Rooms</a>
					</li>
					<li>
						<a th:href="@{/room-type/room-type-add}">Room Category</a>
					</li>
				</div>
				<li>
					<a th:href="@{/profile}">Profile</a>
				</li>
				<li>
					<a th:href="@{/logout}">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
</body>

</html>