<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Login</title>
</head>

<body>
	<nav>
		<a th:href="@{/login}">Spring Hotel</a>
		<div>
			<ul>
				<li><a th:href="@{/registration}">Register</a></li>
			</ul>
		</div>
	</nav>
	<form id="loginForm" th:action="@{/login}" method="post" th:object="${userEntity}">
		<div>
			<div th:if="${STATUS_MESSAGE}">
				<h3>
					<strong>Status</strong>
				</h3>
				<h4 th:text=${STATUS_MESSAGE}></h4>
			</div>
			<div>
				<label>Email</label>
				<input th:field="*{email}" value="esvd@springhotel" maxlength="35" placeholder="example@email.com" />
			</div>
			<div>
				<label>Password</label>
				<input type="password" value="spring" th:field="*{password}" maxlength="35" placeholder="Strong Password" />
			</div>
			<div>
				<button type="submit">Login</button>
			</div>
		</div>
	</form>
</body>

</html>