<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Login</title>
</head>

<body>
	<nav>
		<div>
			<a href="#">Spring Hotel</a>
		</div>
		<div>
			<ul>
				<li><a href="registration">Register</a></li>
			</ul>
		</div>
	</nav>
	<form id="loginForm" th:action="@{/login}" method="post" th:object="${credentialEntity}">
		<div>
			<div th:if="${LOGIN_STATUS}">
				<h3>
					<strong>Status</strong>
				</h3>
				<h4 th:text=${LOGIN_STATUS}></h4>
				<button type="button">
					<button type="button">
						<span>&times;</span>
					</button>
				</button>
			</div>
			<div>
				<label>Email</label> <input th:field="*{email}" maxlength="35" id="txtUsername"
					placeholder="example@email.com" />
			</div>
			<div>
				<label>Password</label> <input type="password" th:field="*{password}" maxlength="35" id="txtPassword"
					placeholder="Strong Password" />
			</div>
			<div>
				<button type="submit">Login</button>
			</div>
		</div>
	</form>
</body>

</html>