<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Registration</title>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- src="js/query-zipcode.js" -->
	<script type="text/javascript">
		$(document).ready(function () {

			function limpa_formulario_cep() {
				// Limpa valores do formulario de cep.
				$("#txtStreet").val("");
				$("#txtDistrict").val("");
				$("#txtCity").val("");
				$("#txtFederalUnit").val("");
			}

			//Quando o campo cep perde o foco.
			$("#txtZip").blur(function () {

				//Nova variavel "cep" somente com digitos.
				var cep = $(this).val().replace(/\D/g, '');

				//Verifica se campo cep possui valor informado.
				if (cep != "") {

					//Expressao regular para validar o CEP.
					var validacep = /^[0-9]{8}$/;

					//Valida o formato do CEP.
					if (validacep.test(cep)) {

						//Preenche os campos com "..." enquanto consulta webservice.
						$("#txtStreet").val("...");
						$("#txtDistrict").val("...");
						$("#txtCity").val("...");
						$("#txtFederalUnit").val("...");

						//Consulta o webservice viacep.com.br/
						$.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

							if (!("erro" in dados)) {
								//Atualiza os campos com os valores da consulta.
								$("#txtStreet").val(dados.logradouro);
								$("#txtDistrict").val(dados.bairro);
								$("#txtCity").val(dados.localidade);
								$("#txtFederalUnit").val(dados.uf);
							} //end if.
							else {
								//CEP pesquisado nao foi encontrado.
								limpa_formulario_cep();
								alert("CEP nao encontrado.");
							}
						});
					} else {
						//cep invalido.
						limpa_formulario_cep();
						alert("Formato de CEP invalido.");
					}
				} else {
					//cep sem valor, limpa formulrio.
					limpa_formulario_cep();
				}
			});
		});
	</script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="home">Spring Hotel</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="login">Login</a></li>
				<li class="nav-item"><a class="nav-link" href="about">About</a>
			</ul>
		</div>
	</nav>
	<div th:if="${FAILURE_STATUS}" class="alert alert-danger alert-dismissible fade show" role="alert">
		<h3>
			<strong>Status</strong>
		</h3>
		<h4 th:text=${FAILURE_STATUS}></h4>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div th:if="${SUCCESSFUL_STATUS}" class="alert alert-success alert-dismissible fade show" role="alert">
		<h3>
			<strong>Status</strong>
		</h3>
		<h4 th:text=${SUCCESSFUL_STATUS}></h4>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="container justify-content-center">
		<form id="userForm" th:action="@{/registration}" method="post" th:object="${userEntity}">
			<div class="form-row">
				<div class="form-group col-md-4">
					<label>CPF</label>
					<input th:field="*{userCpf}" type="text" class="form-control" id="inputCpf" placeholder="CPF">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label>Name</label>
					<input th:field="*{username}" type="text" class="form-control" id="txtUsername" placeholder="Name">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-2">
					<label>Zip</label>
					<input th:field="*{addressEntity.zipCode}" type="text" class="form-control" placeholder="ex.: 01001000"
						id="txtZip">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-2">
					<label>Federal Unit</label> <input th:field="*{addressEntity.federalUnit}" type="text"
						class="form-control" id="txtFederalUnit" placeholder="ex.: KS" readonly="readonly">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label>Street</label>
					<input th:field="*{addressEntity.street}" type="text" class="form-control" id="txtStreet"
						placeholder="ex.: Walnut St" readonly="readonly">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label>District</label>
					<input th:field="*{addressEntity.district}" type="text" class="form-control" id="txtDistrict"
						placeholder="ex.: Union Hill" readonly="readonly">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label>City</label> <input th:field="*{addressEntity.city}" type="text" class="form-control"
						id="txtCity" placeholder="ex.: Kansas City" readonly="readonly">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-3">
					<label>House Number</label>
					<input th:field="*{houseNumber}" type="text" class="form-control" id="txtHouseNumber"
						placeholder="ex.: 443">
				</div>
				<div class="form-group col-md-3">
					<label>Telephone</label>
					<input th:field="*{telephoneNumber}" type="tel" class="form-control" id="txtTelephone"
						value="11 5555 5555">
				</div>
				<div class="form-group col-md-3">
					<label>Celphone</label>
					<input th:field="*{celphoneNumber}" type="tel" class="form-control" id="txtCelphone"
						value="11 5555 5555">
				</div>
				<div class=" form-group col-md-3">
					<label>Birthday</label>
					<input th:field="*{dateOfBirth}" class="form-control" type="date" value="1990-01-01" id="txtDate">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Email</label>
					<input th:field="*{credentialEntity.email}" type="email" class="form-control" id="inputEmail4"
						placeholder="Email">
				</div>
				<div class="form-group col-md-6">
					<label>Password</label>
					<input th:field="*{credentialEntity.password}" type="password" class="form-control"
						id="inputPassword4" placeholder="Password">
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary float-right mt-3">Register</button>
			</div>
		</form>
	</div>
</body>

</html>