<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Registration</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {

			function limpa_formulario_cep() {
				// Limpa valores do formulario de cep.
				$("#txtStreet").val("");
				$("#txtDistrict").val("");
				$("#txtCity").val("");
				$("#txtFederalUnit").val("");
			}

			//Quando o campo cep perde o foco.
			$("#txtZip").blur(function () {

				//Nova variavel "cep" somente com digitos.
				var cep = $(this).val().replace(/\D/g, '');

				//Verifica se campo cep possui valor informado.
				if (cep != "") {

					//Expressao regular para validar o CEP.
					var validacep = /^[0-9]{8}$/;

					//Valida o formato do CEP.
					if (validacep.test(cep)) {

						//Preenche os campos com "..." enquanto consulta webservice.
						$("#txtStreet").val("...");
						$("#txtDistrict").val("...");
						$("#txtCity").val("...");
						$("#txtFederalUnit").val("...");

						//Consulta o webservice viacep.com.br/
						$.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

							if (!("erro" in dados)) {
								//Atualiza os campos com os valores da consulta.
								$("#txtStreet").val(dados.logradouro);
								$("#txtDistrict").val(dados.bairro);
								$("#txtCity").val(dados.localidade);
								$("#txtFederalUnit").val(dados.uf);
							} //end if.
							else {
								//CEP pesquisado nao foi encontrado.
								limpa_formulario_cep();
								alert("CEP nao encontrado.");
							}
						});
					} else {
						//cep invalido.
						limpa_formulario_cep();
						alert("Formato de CEP invalido.");
					}
				} else {
					//cep sem valor, limpa formulrio.
					limpa_formulario_cep();
				}
			});
		});
	</script>
</head>

<body>
	<nav>
		<div>
			<a href="home">Spring Hotel</a>
		</div>
		<div>
			<ul>
				<li>
					<a href="login">Login</a>
				</li>
			</ul>
		</div>
	</nav>
	<div th:if="${FAILURE_STATUS}">
		<h3>
			<strong>Status</strong>
		</h3>
		<h4 th:text=${FAILURE_STATUS}></h4>
		<button type="button">Close</button>
	</div>
	<div th:if="${SUCCESSFUL_STATUS}">
		<h3>
			<strong>Status</strong>
		</h3>
		<h4 th:text=${SUCCESSFUL_STATUS}></h4>
		<button type="button">Close</button>
	</div>
	<div>
		<form id="userForm" th:action="@{/registration}" method="post" th:object="${userEntity}">
			<div>
				<div>
					<label>CPF</label>
					<input th:field="*{userCpf}" type="text" id="inputCpf" placeholder="CPF">
				</div>
			</div>
			<div>
				<div>
					<label>Name</label>
					<input th:field="*{username}" type="text" id="txtUsername" placeholder="Name">
				</div>
			</div>
			<div>
				<div>
					<label>Zip</label>
					<input th:field="*{addressEntity.zipCode}" type="text" placeholder="ex.: 01001000" id="txtZip">
				</div>
			</div>
			<div>
				<div>
					<label>Federal Unit</label> <input th:field="*{addressEntity.federalUnit}" type="text"
						id="txtFederalUnit" placeholder="ex.: KS" readonly="readonly">
				</div>
			</div>
			<div>
				<div>
					<label>Street</label>
					<input th:field="*{addressEntity.street}" type="text" id="txtStreet" placeholder="ex.: Walnut St"
						readonly="readonly">
				</div>
			</div>
			<div>
				<div>
					<label>District</label>
					<input th:field="*{addressEntity.district}" type="text" id="txtDistrict"
						placeholder="ex.: Union Hill" readonly="readonly">
				</div>
			</div>
			<div>
				<div>
					<label>City</label> <input th:field="*{addressEntity.city}" type="text" id="txtCity"
						placeholder="ex.: Kansas City" readonly="readonly">
				</div>
			</div>
			<div>
				<div>
					<label>House Number</label>
					<input th:field="*{houseNumber}" type="text" id="txtHouseNumber" placeholder="ex.: 443">
				</div>
				<div>
					<label>Telephone</label>
					<input th:field="*{telephoneNumber}" type="tel" id="txtTelephone" value="11 5555 5555">
				</div>
				<div>
					<label>Celphone</label>
					<input th:field="*{celphoneNumber}" type="tel" id="txtCelphone" value="11 5555 5555">
				</div>
				<div>
					<label>Birthday</label>
					<input th:field="*{dateOfBirth}" type="date" value="1990-01-01" id="txtDate">
				</div>
			</div>
			<div>
				<div>
					<label>Email</label>
					<input th:field="*{credentialEntity.email}" type="email" id="inputEmail4" placeholder="Email">
				</div>
				<div>
					<label>Password</label>
					<input th:field="*{credentialEntity.password}" type="password" id="inputPassword4"
						placeholder="Password">
				</div>
			</div>
			<div>
				<button type="submit">Register</button>
			</div>
		</form>
	</div>
</body>

</html>