<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Room Types</title>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			padding: 5px;
		}
	</style>
</head>

<body>
	<nav>
		<a th:href="@{/home}">Spring Hotel</a>
		<div>
			<ul>
				<li>
					<a th:href="@{/profile}">Profile</a>
				</li>
				<li>
					<a th:href="@{/logout}">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	<div th:if="${STATUS_MESSAGE}">
		<h3>
			<strong>Status</strong>
		</h3>
		<h4 th:text=${STATUS_MESSAGE}></h4>
		<!-- <button type="button">
			<span>&times;</span>
		</button> -->
	</div>
	<form id="userForm" th:action="@{/room-type}" method="post" th:object="${roomCategoryEntity}">
		<div>
			<div>
				<label>Id</label>
				<input th:field="*{roomCategoryId}" maxlength="5" type="text" placeholder="ID">
				<button type="submit" name="search">Search</button>
			</div>
		</div>
		<div>
			<div>
				<label>Category</label>
				<input th:field="*{category}" maxlength="25" type="text" placeholder="Category">
			</div>
		</div>
		<div>
			<div>
				<label>Price</label>
				<input th:field="*{price}" maxlength="5" type="text" placeholder="ex.: 45.55">
			</div>
		</div>
		<div>
			<div>
				<label>Number of People Allowed</label>
				<input th:field="*{maxPeople}" maxlength="1" type="text" placeholder="ex.: 3">
			</div>
		</div>
		<div>
			<button type="submit" name="save">Save</button>
		</div>
	</form>
	<div>
		<table th:unless="${#lists.isEmpty(roomCategoryList)}">
			<thead>
				<tr>
					<th>Id</th>
					<th>Category</th>
					<th>Price</th>
					<th>Max. People</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="b : ${roomCategoryList}">
					<td th:text="${b.roomCategoryId}"/>
					<td th:text="${b.category}"/>
					<td th:text="${b.price}"/>
					<td th:text="${b.maxPeople}"/>
					<td>
						<button type="button">
									<span>&times;</span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>