<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Booking Check Out</title>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			padding: 5px;
		}
	</style>
</head>

<body>
	<nav>
		<a th:href="@{/home}">Spring Hotel</a>
		<div>
			<ul>
				<li>
					<a th:href="@{/booking/booking-add}">New Booking</a>
				</li>
				<li>
					<a th:href="@{/booking/booking-search}">View Booking</a>
				</li>
			</ul>
		</div>
	</nav>
	<div th:if="${STATUS_MESSAGE}">
		<h3>
			<strong>Status</strong>
		</h3>
		<h4 th:text=${STATUS_MESSAGE}></h4>
	</div>
	<form th:object="${bookingEntity}" th:action="@{/booking/booking-checkout}" method="post">
		<div>
			<div th:if="${bookingEntity}">
				<input type="hidden" name="bookingId" th:field="*{bookingId}" th:value="*{bookingId}" />
				<label>CPF</label>
				<input th:field="*{userEntity.userCpf}" th:value="*{userEntity.userCpf}" maxlength="11" type="text"
					readonly="readonly" />
				<button type="submit">Check Out</button>
			</div>
			<!-- if admin, then he can check out others bookings -->
			<div th:if=${IS_ADMIN}>
				<input name="userCpf" maxlength="11" type="text">
				<button type="submit">Check Out</button>
			</div>
		</div>
	</form>
	<table th:if="${bookingEntity}">
		<thead>
			<tr>
				<th>CPF</th>
				<th>Name</th>
				<th>Room Number</th>
				<th>Check In</th>
				<th>Check Out</th>
				<th>Days Past</th>
				<th>Status</th>
				<th>Total:</th>
			</tr>
		</thead>
		<tbody>
			<tr th:object="${bookingEntity}">
				<td th:field="*{userEntity.userCpf}" th:text="*{userEntity.userCpf}" />
				<td th:field="*{userEntity.username}" th:text="*{userEntity.username}" />
				<td th:field="*{roomEntity.roomNumber}" th:text="*{roomEntity.roomNumber}" />
				<td th:field="*{checkIn}" th:text="*{checkIn}" />
				<td th:field="*{checkOut}" th:text="*{checkOut}" />
				<td th:text="*{getDaysPast()}" />
				<td th:field="*{status}" th:text="*{status}" />
				<td th:text="*{getFinalAmout()}" />
			</tr>
		</tbody>
	</table>
</body>

</html>