<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Booking Add</title>
</head>

<body>
	<nav>
		<a th:href="@{/home}">Spring Hotel</a>
		<div>
			<ul>
				<li th:if="${IS_ADMIN}">
					<a th:href="@{/booking/booking-search}">View Booking</a>
				</li>
			</ul>
		</div>
	</nav>
	<div th:if="${STATUS_MESSAGE}">
		<h3>
			<strong>Status</strong>
		</h3>
		<h4 th:text=${STATUS_MESSAGE}></h4>
	</div>
	<form th:object="${bookingEntity}" th:action="@{/booking/booking-add}" method="post">
		<div>
			<label>CPF</label>
			<input th:if="${IS_ADMIN}" th:field="*{userEntity.userCpf}" maxlength="11" type="text">
			<input th:if="${!IS_ADMIN}" th:field="*{userEntity.userCpf}" maxlength="11" type="text" readonly="readonly">
		</div>
		<div>
			<label>Check In</label>
			<input th:field="*{checkIn}" type="date" id="txtCheckin" readonly="readonly">
		</div>
		<div>
			<label>Check Out</label>
			<input th:field="*{checkOut}" type="date" id="txtCheckout" readonly="readonly">
		</div>
		<div>
			<label>Status</label>
			<input th:field="*{status}" type="text" id="txtStatus" readonly="readonly">
		</div>
		<div>
			<label>Choose Room:</label>
		</div>
		<ul>
			<li th:each="r : ${roomList}">
				<input th:field="*{roomEntity.roomId}" type="radio" th:value="${r.roomId}" />
				<label> Room Number: </label>
				<label th:text="${r.roomNumber}"></label>
				<label> Category: </label>
				<label th:text="${r.roomCategory.category}"></label>
				<label> ID: </label>
				<label th:text="${r.roomCategory.roomCategoryId}"></label>
				<label> Price: </label>
				<label th:text="${r.roomCategory.price}"></label>
				<label> Max. People: </label>
				<label th:text="${r.roomCategory.maxPeople}"></label>
			</li>
		</ul>
		<div>
			<button type="submit">Register Booking</button>
		</div>
	</form>
</body>

</html>