<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Room List</title>
	<link rel="stylesheet" href="resources/css/table.css" />
</head>

<body>
	<nav>
		<a th:href="@{/home}">Spring Hotel</a>
		<div>
			<ul>
				<li>
					<a th:href="@{/room/room-add}">New Room</a>
				</li>
			</ul>
		</div>
	</nav>
	<div th:if="${STATUS_MESSAGE}">
		<h3>
			<strong>Status</strong>
		</h3>
		<h4 th:text=${STATUS_MESSAGE}></h4>
	</div>
	<div>
		<table th:unless="${#lists.isEmpty(roomEntityList)}">
			<thead>
				<tr>
					<th>Id</th>
					<th>Room Number</th>
					<th>Category</th>
					<th>Price</th>
					<th>Max. People</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="b : ${roomEntityList}">
					<td th:text="${b.roomId}"/>
					<td th:text="${b.roomNumber}"/>
					<td th:text="${b.roomCategory.category}"/>
					<td th:text="${b.roomCategory.price}"/>
					<td th:text="${b.roomCategory.maxPeople}"/>
					<td>
						<a th:href="@{/room/room-update/{id} (id=${b.roomId})}">
							Edit
						</a>
					</td>
					<td>
						<a th:href="@{/room/room-delete/{id} (id=${b.roomId})}">
							<span>Delete</span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>